.App {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.header {
  margin-top: 2rem;
}

ion-icon {
  background-color: white;
  font-size: 2rem;
  color: black;
}

li {
  list-style: none;
}

.main {
  display: flex;
  margin-top: -3rem;
  justify-content: center;
}

.link {
  border: none !important;
  color: black;
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
  left: -1rem;
}

.link:hover {
  transform: scale(1.05) !important;
}
@media (max-width: 700px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .form > button {
    margin: 20px 0 15px 0;
  }

  .form > label {
    margin: 10px;
  }
}

@media (max-width: 750px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .link {
    padding: 10px 0;
  }

  #root > div > div.main > div.history {
    margin-top: 2rem;
    padding-top: 0;
  }

  #root > div > div.main > div:nth-child(1) > div {
    padding: 0;
    margin-bottom: 0;
  }

  #root > div > div.main > div > div > div > div.origins,
  #root > div > div.main > div > div > div > div.destinations {
    margin: 1rem;
  }
}
